#heading {
    text-transform: uppercase;
    color: #28a745;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: transparent;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
}


.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}


#msform .action-button {
    width: 100px;
    background: #28a745;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #fff;
    border: 1px solid #28a745;
    color:  #28a745;
}

#msform .action-button-previous {
    width: 100px;
    background-color: #fff;
    border: 1px solid #28a745;
    color:  #28a745;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    width: 100px;
    background-color: #28a745;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}
.banner-challenge{
    background: #272727;
    height: 245px;
    margin-top: -44px;
    position: absolute;
    width: -webkit-fill-available;
}
.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    margin-top: 2rem;
    font-size: 25px;
    color: #2cab66;
    font-weight: bolder;
    margin-left: 1.5rem;
    font-size: 22pt;
    text-align: left;
    margin-bottom: 2px;
}

.fs-title-text {
    font-size: 25px;
    color: #fff;
    margin-left: 1.5rem;
    margin-bottom: 9rem;
    font-weight: normal;
    text-align: left
}
.purple-text {
    color: #28a745;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    padding-top: 150px;
    overflow: hidden;
    margin-left: 5%;
    position: sticky;
    box-shadow: 2px 0px 0px 0px #93bf1c;
    color: lightgrey
}

#progressbar .active {
    color: #93bf1c;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f007";
    margin-left: 0px;
}
#account{
    width: 40.5% !important;
}
#payment {
    width: 0%  !important;
}
#confirm{
    width: 48% !important;
}
#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f005"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f004";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right:0px;
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 20px;
    background: lightgray;
    position: absolute;
    left: 2px;
    top: 15px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #93bf1c;
    border: 0px solid #93bf1c;
}
div#users-check_info {
    display: none !important;
}
div#users-check_filter {
    margin-top: 1rem;
}
.nav-button-ch{
    padding-bottom: 0px;
    margin-top: 123px;
    margin-bottom: 0rem;
    margin-left: 15%;
    z-index: auto;
    font-size: 15pt;
    color: #272727;
    background-color: #93bf1c;
    border-radius: 5px;
    border: none;
    height: 34px;
    font-weight: 700;
}

.progress {
    height: 20px
}
 
.progress-bar {
    background-color: #28a745
}

.fit-image {
    width: 100%;
    object-fit: cover
}
select + .select2-container {
  width: 90% !important;
}
// Inician estilos de preguntas

.card-question
{
	border-radius: 1rem;
}

.pregunta-text
{
    font-size: 40px;
}

.column-list-challenge{
    width: 156px;
    display: inline-flex;
    position: relative;
    margin-left: 14%;
    margin-top: 2%;
    padding: 1%;
}
input[type="search"] {
    border-radius: 1rem;
    padding-right: 6rem;
    margin-right: 6rem;
    height: 33px;
    box-shadow: darkkhaki;
}

.dataTables_scrollBody{
    border: none !important;
}
.nav-lchallenge{
    background-color: #272727;
    height: 247px;
    margin-top: -24px;
}
.ch-text-two{
    margin-left: 7rem;
}
.ch-text{
    margin-left: 7rem;
}
.tr-challenge{
    width: 156px;
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    margin-left: 14%;
    margin-top: 2%;
    padding: 1%;
}
.tr-challenge-two{
    width: 156px;
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    margin-left: 14%;
    margin-top: 2%;
    padding: 1%;
}
.tr-challenge-three{
    width: 156px;
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    margin-left: 14%;
    margin-top: 2%;
    padding: 1%;
}
div#challenge-check_wrapper > div {
    border: 1px solid red;
    display: none;
}


@media (max-width: 560px) {
     .fs-title-text {
    font-size: 15px;
    color: #fff;
    margin-left: 1.5rem;
    margin-bottom: 9rem;
    font-weight: normal;
    text-align: left;
} 
}