.nav-color
{
	background-color: #f7f7f7;
}
.nav-font
{
	color: #009245 !important;
}
.nav-font.active, .nav-fon:active {
    color: #ffffff !important;
    text-decoration: none;
	background-color: #93bf1c;
}
.header-card
{
	background-color: #009245;
}
.login-nav
{
	text-decoration-line: underline;
	color: #009245 !important;
}
body
{
	background-color: #f3f3f3a6;
}
.card-login
{
	border-radius: 1rem;
}
.input-login
{
	border-radius: 1rem;
	border-color: #afd370;
}
.button-card
{
	color: #009245;
    background-color: #fff;
    border-color: #afd370;
}
.button-card:hover
{
	color: #fff;
    background-color: #009245;
    border-color: #009245;
}
