#container-canvas
{
    position: relative;
 
}
#canvas {
    background-repeat: no-repeat;  
    background-position: center;   
    cursor:pointer;
    z-index: 1;
    
} 
#prizePointer {
    position: absolute;
    left: 44%;
    top: 36%;
    z-index: 999;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #prizePointer {
        position: absolute;
        left: 41%;
        top: 17%;
        z-index: 999;
        width: 65px;
    }
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

    #prizePointer {
    position: absolute;
    left: 41%;
    top: 17%;
    z-index: 999;
    width: 65px;
}
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    #prizePointer {
        position: absolute;
        left: 42%;
        top: 38%;
        z-index: 999;
        width: 130px;
    }
}     
