.container-canvas
{
    margin-left: auto;
    margin-right: auto;
}
#canvasContainer {
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;  
    background-position: center;   
    cursor:pointer;
}